body {
  background-color: #00000000;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  width: 100%;
  height: 3rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  overflow: visible;
}

/* El icono va en la parte derecha */
#menu-icon {
  margin-left: auto;
  margin-right: 1rem;
}

#banner {
  display: flex;
  flex-direction: row;
  min-height: 10rem;
  width: auto;
  margin-left: 2rem;
  margin-right: auto;
}
