<ng-container>
  <mat-grid-list cols="2" rowHeight="30vh">
    <mat-grid-tile class="tile">
      <button mat-fab class="fab-button" color="primary" routerLink="/centro">
        Centro
      </button>
    </mat-grid-tile>
    <mat-grid-tile class="tile">
      <button mat-fab class="fab-button" color="primary" routerLink="/clientes">
        Cuenta
      </button>
    </mat-grid-tile>
    <mat-grid-tile class="tile">
      <button mat-fab class="fab-button" color="primary" routerLink="/clases">
        Clases
      </button>
    </mat-grid-tile>
    <mat-grid-tile class="tile">
      <button mat-fab class="fab-button" color="primary" routerLink="/horarios">
        Horario
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>
