<header>
  <button mat-fab class="mat-button" color="primary" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</header>
<ng-container>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>{{ claseCard.nombre }}</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <h2>{{ claseCard.descripcion }}</h2>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <strong>Profesor: </strong>
        {{ claseCard.profesor }}
      </p>
      <p>
        <strong>Duración: </strong>
        {{ claseCard.duracion }} min
      </p>
      <p>
        <strong>Plazas: </strong>
        {{ claseCard.plazas }}
      </p>
    </mat-card-content>
  </mat-card>
</ng-container>
