<mat-card class="form-box">
  <mat-card-header>
    <mat-card-title
      ><h1>{{ title }}</h1></mat-card-title
    >
    <mat-card-subtitle
      ><h2>{{ subtitle }}</h2></mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <ng-container>
      <ng-form #loginForm="ngForm">
        <div>
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input
              class="form-control"
              type="email"
              matInput
              placeholder="Email"
              name="email"
              [(ngModel)]="log.email"
              required
              ng-valid
            />
            <mat-icon matSuffix>email</mat-icon>
            <mat-hint>Introduce tu email</mat-hint>
            <mat-error *ngIf="emailFormControl.invalid">{{
              getErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input
              class="form-control"
              type="password"
              matInput
              placeholder="Password"
              [(ngModel)]="log.pass"
              name="password"
              required
              ng-valid
            />
            <mat-icon matSuffix>vpn_keyicon</mat-icon>
            <mat-hint>Introduce tu clave</mat-hint>
            <mat-error *ngIf="passFormControl.invalid">{{
              getErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </div>
        <button
          mat-button
          [disabled]="!loginForm.form.valid"
          (click)="checkUser()"
        >
          Enviar
        </button>
      </ng-form>
    </ng-container>
  </mat-card-content>
</mat-card>
