<header>
  <button mat-fab class="mat-button" color="primary" routerLink="/home">
    <mat-icon>arrow_back</mat-icon>
  </button>
</header>
<ng-container>
  <mat-grid-list cols="2" rowHeight="30vh">
    <mat-grid-tile class="tile">
      <button mat-fab class="fab-button mat-button" routerLink="/centro">
        Centro
      </button>
    </mat-grid-tile>
    <mat-grid-tile class="tile">
      <button mat-fab class="fab-button mat-button" routerLink="/clientes">
        Cuenta
      </button>
    </mat-grid-tile>
    <mat-grid-tile class="tile">
      <button mat-fab class="fab-button mat-button" routerLink="/clases">
        Clases
      </button>
    </mat-grid-tile>
    <mat-grid-tile class="tile">
      <button mat-fab class="fab-button mat-button" routerLink="/horarios">
        Horario
      </button>
    </mat-grid-tile>
    <!-- Personalizamos este botón para que ocupe los dos espacios y solo lo
    mostramos si el usuario es admin -->
    <mat-grid-tile
      class="tile"
      colspan="2"
      rowspan="1"
      *ngIf="tipoUsuario == 'admin'"
    >
      <button mat-fab class="fab-button mat-button" routerLink="/odoo">
        Intranet
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>
